<head>
	<title>Flight search</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ bootstrap.load_css() }}
	<link rel="stylesheet" href="{{ url_for('static', filename= 'fonts.css') }}">
</head>
<body>
<nav class="navbar navbar-light bg-light px-4">
	<a class="navbar-brand" href="{{ url_for('hello') }}"><u>Go back</u></a>
</nav>
<table class="table table-striped">
	<thead>
	<tr>
		<th scope="col">Destination</th>
		<th scope="col">Departure time</th>
		<th scope="col">Return time</th>
		<th scope="col">Price</th>
		<th scope="col">Airlines</th>
		<th scope="col">See flights</th>
	</tr>
	</thead>
	<tbody>
	{% for item in data %}
	<tr>
		<td>{{ item.airport }} - {{ item.city }}</td>
		<td>{{ item.departure_time.strftime("%a %b %d %H:%M") }}</td>
		<td>{{ item.return_time.strftime("%a %b %d %H:%M") }}</td>
		<td>€{{ '%0.2f' % item.price|round(2) }}</td>
		<td>{{ item.airlines }}</td>
		<!--<td><a href="{{ item.link }}">Soon</a></td>-->
	</tr>
	{% endfor %}
	</tbody>
</table>
{{ bootstrap.load_js() }}
</body>
