<!doctype html>
<html lang="en">
<head>
	<title>Flight search</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='flightcard.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
</head>
<body>
<nav class="navbar sticky-top bg-light px-4">
	<a class="navbar-brand" href="{{ url_for('hello') }}">
		<button type="button" class="btn btn-primary">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
			</svg>
			Back
		</button>
	</a>
	<a class="navbar-brand abs" href="#"></a>

</nav>
<div style="margin: auto; margin-top: 1.5rem; width: fit-content;">
	{% for item in data %}
	<div class="card shadow p-3 mb-3 bg-body rounded" style="width: fit-content;">
		{% include 'flight_card.html' %}
	</div>
	{% endfor %}
</div>
{{ bootstrap.load_js() }}
</body>
</html>